<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" href="#">INDE search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li [routerLink]="['/home']" routerLinkActive="active" class="nav-item">
        <a class="nav-link" >Home</a>
      </li>
      <li [routerLink]="['/service/query']" routerLinkActive="active" class="nav-item">
        <a class="nav-link">Serviços</a>
      </li>
      <li [routerLink]="['/feature-type/query']" routerLinkActive="active" class="nav-item">
        <a class="nav-link">Feature Types</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>