<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Pesquisar por features types</h1>
    <p class="lead">Preencha os campos abaixo para recuperar os features types associados.</p>
  </div>
</div>
<div class="container">
  <!-- MAPA -->
  <div class="row">
    <div class="col-4 marginbtw">
      <img width="380" height="480" src="assets/img/brasil.jpeg" alt="Mapa Brasil">
    </div>
    <!-- FORMULÁRIO -->
    <div class="col-6 marginbtw">
      <div class="card mycard">
        <div class="card-body">
          <div *ngIf="error != ''">
            <div class="alert alert-warning" role="alert">
              {{ error }}
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Pesquisar em:</span>
              </div>
              <input [(ngModel)]="placeName" type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Tema:</span>
              </div>
              <input [(ngModel)]="theme" type="text" class="form-control" aria-describedby="basic-addon2">
            </div>
          </div>
          <div class="row">
            <div class="col nopadding simple-margin">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Entre:</span>
                </div>
                <input [(ngModel)]="startDate" type="text" class="form-control" aria-describedby="basic-addon3">
              </div>
            </div>
            <div class="col nopadding">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon4">e:</span>
                </div>
                <input [(ngModel)]="endDate" type="text" class="form-control" aria-describedby="basic-addon4">
              </div>
            </div>
          </div>
        </div>
        <!-- BUTTON SEARCH -->
        <div class="row">
          <div class="col offset-md-9">
            <button [disabled]="blockedButton" (click)="search()" type="button" class="btn btn-primary">Pesquisar</button>
          </div>
        </div>
      </div>
      <!-- PROGRESS BAR -->
      <div *ngIf="blockedButton" class="progress myprogress">
        <div class="progress-bar myprogress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
      </div>
    </div>
  </div>
  <!-- ESCOLHAS -->
  <div *ngIf="choices" class="row">
    <div class="col-4 marginbtw"></div>
    <div class="col-6 marginbtw topmargin">
      <div class="card mycard nopadding">
        <div class="list-group">
          <div *ngFor="let item of choices">
            <div *ngIf="item.type === 'UF';else mcp">
              <a (click)="selectChoice(item)" class="list-group-item list-group-item-action">
                {{ item.name }} - Estado
              </a>
            </div>
            <ng-template #mcp>
              <a (click)="selectChoice(item)" class="list-group-item list-group-item-action">
                {{ item.name }} - Município - {{ item.UF }}
              </a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- RESULTADO -->
  <div class="container">
    <div *ngIf="features" class="row">
      <div class="accordion" id="accordion">
        <div *ngIf="error === '' && features">
          <h3>Total de feature types encontrados: {{ resources.length }}</h3>
        </div>
        <div *ngFor="let feature of features">
          <div>
            <section data-toggle="collapse" [attr.data-target]="'#collapse'+feature.id" aria-expanded="false"
              aria-controls="collapseOne" class="card" class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn" type="button">
                  {{ feature.title }}
                </button>
              </h5>
            </section>
            <div [id]="'collapse'+feature.id" class="collapse show" aria-labelledby="headingOne"
              data-parent="#accordion">
              <div class="card-body">
                <p *ngIf="feature.description"><b>Descrição:</b> {{ feature.description }}</p>
                <p *ngIf="feature.keywords"><b>Palavra-Chave:</b> {{ feature.keywords }}</p>
                <p><b>Similaridade do feature type:</b> {{ feature.similarity }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="features && features.length > 0">
      <ngb-pagination (pageChange)="paginationChange($event)" [(page)]="page" [pageSize]="pageSize" [collectionSize]="resources.length"></ngb-pagination>
    </div>
  </div>
</div>