/* You can add global styles to this file, and also import other style files */

.marginbtw{
    margin: 30px;
}

.mycard{
    box-shadow: 0px 0px 8px #00000078;
    border-radius: 10px;
    border: 0px;
    padding: 15px;
}

.nopadding{
    padding: 0px;
}

.simple-margin{
    margin-right: 5px;
}

.myprogress{
    margin-top: -15px;
    z-index: 999;
}

.myprogress-bar{
    margin-top: 10px;
    z-index: 100;
}

.topmargin{
    margin-top: -12%;
}